#markets-list-data {
  gap: 1.5rem;

  &.markets-list-data {
    & .markets-list-data__grid {
      display: grid;
      flex-wrap: wrap;
      gap: 2rem;
      grid-template-columns: repeat(3, 1fr);
      width: auto;

      & .MuiCard-root {
        align-self: stretch;
      }
    }
  }
}
