#markets-list-data {
  align-items: flex-start;
  gap: 1.5rem;

  &.markets-list-data {
    & .markets-list-data__grid {
      display: grid;
      flex-wrap: wrap;
      gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
      padding: 0.5rem;
      width: auto;

      & .MuiCard-root {
        align-self: stretch;
      }
    }
  }
}
