# -------------------- Common -------------------------------------------------
HOST=0.0.0.0
PORT=3000
CLIENT_HOST=0.0.0.0
CLIENT_PORT=8080

AUTH_COOKIE_KEY=AOAM-Authorization.Dev

# POETRY_CACHE_DIR=server/.poetry-cache

# -------------------- Python Logging -----------------------------------------
COLUMNS=254
LOG_LEVEL=NOTSET

# -------------------- PostgreSQL ---------------------------------------------
PGHOST=pg_database
PGPORT=5432
POSTGRES_DB=aoam_property_plan
POSTGRES_USER=postgres
POSTGRES_PASSWORD=example

DATABASE_HOST=${PGHOST}
DATABASE_PORT=${PGPORT}
DATABASE_NAME=${POSTGRES_DB}
DATABASE_USER=${POSTGRES_USER}
DATABASE_PASSWORD=${POSTGRES_PASSWORD}

# -------------------- OAuth --------------------------------------------------
GITHUB_OAUTH_CLIENT_ID=super-secret
GITHUB_OAUTH_CLIENT_SECRET=super-duper-secret
