.listing-overview-data {
  gap: 1rem;

  &__top-row {
    gap: 1.5rem;
  }

  &__data-item {
    /**/
  }

  &__map {
    &.map-card {
      min-height: 28.5rem;
      min-width: 40rem;
      position: relative;
    }

    & .MuiContent-root,
    & .leaflet-container {
      height: 100%;
      width: 100%;
    }
  }
}

#listing-overview-map {
  height: 28.5rem;
}
