#root-layout {
  width: 100vw;

  & > div,
  & > section {
    max-width: 90vw;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  & section {
    overflow: auto;
    width: 100%;
  }

  & > .card {
    overflow: hidden;
  }
}
