#home {
  width: 100%;

  .home {
    &__top-row {
      gap: 1.5rem;
      width: 100%;
    }

    &__top-row {
      background-color: var(--mui-palette-background-paper);
      background-image: var(--mui-overlays-1);
      box-shadow: var(--mui-shadows-1);
      max-height: calc(27rem + 2.75rem);
      padding: 1rem;
    }
  }
}
