/****************************************************************
Normalize
****************************************************************/
:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgb(170 59 255 / 0.1);
  --accent-border: rgb(170 59 255 / 0.5);
  --social-bg: rgb(244 243 236 / 0.5);
  --shadow:
    rgb(0 0 0 / 0.1) 0 10px 15px -3px,
    rgb(0 0 0 / 0.05) 0 4px 6px -2px;

  --initial-bg-color: #242424;
  --initial-text-color: rgb(255 255 255 / 0.87);

  --semi-dark: #1a1a1a;
  --light-gray-border: #aeaeae;

  --black: #000000;
  --white: #FFFFFF;

  --butterfly-blue-fill: #38ACEC;
  --butterfly-blue-fill-0\.5: rgb(56 172 236 / 0.5);
  --blue-fill: #0059FF;
  --blue-fill-0\.5: rgb(0 89 255 / 0.5);
  --blue-darker-fill: #123456;
  --blue-darker-fill-0\.5: rgb(18 52 86 / 0.5);
  --yellow-fill: #f9db24;
  --yellow-fill-0\.5: rgb(249 219 36 / 0.5);
  --red-fill: #ff0000;
  --red-fill-0\.5: rgb(255 0 0 / 0.5);
  --black-fill: #000000;
  --black-fill-0\.5: rgb(0 0 0 / 0.5);

  --light-gray-edge: rgb(238 238 238 / 0.75);
  --light-gray-bg: #eeeaea;
  --light-gray-bg-0\.5: rgb(238 234 234 / 0.75);

  --error: #dc3545;
  --warning: #ffc107;
  --info: #0dcaf0;
  --success: #198754;
  /* --error: #ff0033; */
  /* --success: #22bb33; */

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  background-color: var(--initial-bg-color);
  color-scheme: light dark;
  color: var(--initial-text-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  letter-spacing: 0.18px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    color: #213547;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgb(192 132 252 / 0.15);
    --accent-border: rgb(192 132 252 / 0.5);
    --social-bg: rgb(47 48 58 / 0.5);
    --shadow:
      rgb(0 0 0 / 0.4) 0 10px 15px -3px,
      rgb(0 0 0 / 0.25) 0 4px 6px -2px;

    background-color: var(--initial-bg-color);
    color: var(--initial-text-color);
  }
}


[data-theme='dark'] {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgb(192 132 252 / 0.15);
    --accent-border: rgb(192 132 252 / 0.5);
    --social-bg: rgb(47 48 58 / 0.5);
    --shadow:
      rgb(0 0 0 / 0.4) 0 10px 15px -3px,
      rgb(0 0 0 / 0.25) 0 4px 6px -2px;

    background-color: var(--initial-bg-color);
    color: var(--initial-text-color);
  }

  & #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  place-items: center;
}

a {
  color: #646cff;
  font-weight: 500;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 3.2em;
  /* font-size: 56px; */
  letter-spacing: -1.68px;
  line-height: 1.1;
  margin: 32px 0;

  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p {
  margin: 0;
}

button {
  background-color: var(--semi-dark);
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

dl {
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    text-align: left;

    & dt,
    & dd {
        font-size: 1rem;
    }

    & dt {
        font-weight: 500;
    }

    & dd {
        margin-left: 0.5rem;
        margin-bottom: 0.25rem;
    }
}

@media only screen and (max-width: 1024px) {
    dl {
        & dt,
        & dd {
            font-size: 0.875rem;
        }
    }
}

code,
.counter {
  border-radius: 4px;
  color: var(--text-h);
  display: inline-flex;
  font-family: var(--mono);
}

code {
  background: var(--code-bg);
  font-size: 15px;
  line-height: 135%;
  padding: 1rem;
  width: 100%;
}

pre {
  max-width: 100%;
  min-width: 50%;
  text-align: left;
  width: max-content;
}

/****************************************************************
Global
****************************************************************/
#root {
  border-inline: 1px solid var(--border);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 100%;
  min-height: 100svh;
  text-align: center;
  width: 100vw;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
